.main-wrapper {
	height: 570px;
	background: url(../images/bookshelf.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
}


.search-bar {
	position: absolute;
	left: 50%;
	top: 50%;
	+transform(translate(-50%, -50%));
}



.light, footer.page-footer .footer-copyright {
	height: 100%;
	line-height: 1.5;
}

footer.page-footer {
	margin-top: 0;
}

#slide-out > li > a:hover {
	background-color: white;
	color: #8bc34a;
}

.brand-logo > img {
	width: 55px;
	height: 55px;
}


#mobile-search {
	position: absolute;
	top:60%;
}

.title {
	color: white;
	position: absolute;
	top: 30%;
	margin: 0px;
}

#desktop-search {
	display: none;
	position: absolute;
	top:60%;
}

input[type=text] {
	border-left: 1px solid #9e9e9e;
	border-right: 1px solid #9e9e9e;
	border-top: 1px solid #9e9e9e;
	color: white;
	background-color: rgba(0,0,0, 0.7);
}

@media (min-width: 600px) {
	#desktop-search {
		display: block;
		top: 52%;
		right: 17%;
	}
	#mobile-search {
		display: none;
	}
	.brand-logo > img {
		width: 65px;
		height: 65px;
	}
	.brand-logo-title {
		font-size: 1.5em;
	}

}

@media (min-width: 992px) {
	.brand-logo-title {
		position: absolute;
		left: 22%;
		text-align: left;
	}
}

