.main-wrapper {
	height: 700px;
	background: url(../images/bookshelf.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
}


.search-bar {
	position: absolute;
	left: 50%;
	top: 50%;
	+transform(translate(-50%, -50%));
}

.light, footer.page-footer .footer-copyright {
	height: 100%;
	line-height: 1.5;
}

footer.page-footer {
	margin-top: 0;
}